.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.btn-group-vertical > .btn-group:not(:last-child) > .btn, .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle) {
  border-color:rgba(255,255,255,0);
  margin-bottom:6px;
  margin-top:2px;
  padding:2px;
}

.btn-group-vertical > .btn-group:not(:first-child) > .btn, .btn-group-vertical > .btn:not(:first-child) {
  border-color:transparent;
  height:130.6719;
  padding:2px;
}

.btn-group-vertical {
}

#popup {
  display:none;
  border:1px solid black;
}

.cell-which-triggers-popup {
  cursor:pointer;
}

.row-which-fills-table {
  cursor:pointer;
}

.row-which-fills-table:hover {
  background-color:rgb(255,255,255);
}

.cell-which-triggers-popup:hover {
  background-color:rgb(255,255,255);
}

w3schools.comTHE WORLD'S LARGEST WEB DEVELOPER SITE Search... HOW TO HowTo Home Menus Icon Bar Menu Icon Accordion Tabs Vertical Tabs Tab Headers Full Page Tabs Top Navigation Responsive Topnav Search Menu Search Bar Fixed Sidebar Side Navigation Fullscreen Navigation Off-Canvas Menu Hover Sidenav Buttons Horizontal Scroll Menu Vertical Menu Bottom Navigation Responsive Bottom Nav Bottom Border Nav Links Right Aligned Menu Links Centered Menu Links Fixed Menu Slide Down Bar on Scroll Hide Navbar on Scroll Sticky Navbar Hover Dropdowns Click Dropdowns Dropdown in Topnav Dropdown in Sidenav Resp Navbar Dropdown Dropup Mega Menu Mobile Menu Pagination Breadcrumbs Button Group Vertical Button Group Sticky Social Bar Responsive Header Images Slideshow Slideshow Gallery Modal Images Lightbox Responsive Image Grid Image Grid Tab Gallery Image Overlay Fade Image Overlay Slide Image Overlay Zoom Image Overlay Title Image Overlay Icon Image Effects Black and White Image Image Text Image Text Blocks Transparent Image Text Full Page Image Form on Image Hero Image Side-by-Side Images Rounded Images Avatar Images Responsive Images Center Images Thumbnails Meet the Team Sticky Image Flip an Image Shake an Image Portfolio Gallery Portfolio with Filtering Image Zoom Image Magnifier Glass Image Comparison Slider Buttons Alert Buttons Outline Buttons Split Buttons Animated Buttons Fading Buttons Button on Image Social Media Buttons Read More Read Less Loading Buttons Download Buttons Icon Buttons Next/prev Buttons More Button in Nav Block Buttons Text Buttons Round Buttons Scroll To Top Button Forms Login Form Signup Form Checkout Form Contact Form Social Login Form Register Form Form with Icons Newsletter Responsive Form Clear Input Field Copy Text to Clipboard Animated Search Search Button Fullscreen Search Custom Checkbox/Radio Custom Select Toggle Switch Check Checkbox Password Validation Toggle Password Visibility Multiple Step Form Autocomplete Filters Filter List Filter Table Filter Elements Filter Dropdown Sort List Sort Table Tables Zebra Striped Table Responsive Tables Comparison Table More Fullscreen Video Modal Boxes Timeline Scroll Indicator Progress Bars Skill Bar Range Sliders Tooltips Popups Collapsible Calendar HTML Includes To Do List Loaders Star Rating User Rating Overlay Effect Contact Chips Cards Profile Card Alerts Notes Labels Circles Coupon Responsive Text Fixed Footer Sticky Element Equal Height Clearfix Snackbar Fullscreen Window Scroll Drawing Sticky Header Pricing Table Parallax Aspect Ratio Toggle Like/Dislike Toggle Hide/Show Toggle Text Toggle Class Add Class Remove Class Active Class Zoom Hover Transition on Hover Arrows Shapes Browser Window Custom Scrollbar Device Look Placeholder Color Vertical Line Animate Icons Countdown Timer Typewriter Coming Soon Page Chat Messages Split Screen Testimonials Quotes Slideshow Closable List Items Typical Device Breakpoints Draggable HTML Element Trigger Button on Enter JS Media Queries Sntax Highlighter JS Animations Get Iframe Elements Website Make a Website Make a Website (W3.CSS) Make a Website (BS3) Make a Website (BS4) Center Website Contact Section Grid 2 Column Layout 3 Column Layout 4 Column Layout Expanding Grid List Grid View Mixed Column Layout Blog Layout Google Google Maps Google Maps BW Google Translate Google Charts Google Fonts Converters Convert Weight Convert Temperature Convert Length Convert Speed How TO - Popup Learn how to create popups with CSS and JavaScript. How To Create Popups Step 1) Add HTML: Example <div class="popup" onclick="myFunction()" > Click me! <span class="popuptext" id="myPopup" > Popup text...</span > </div > Step 2) Add CSS: Example /* Popup container */ .popup position: relative; display: inline-block; cursor: pointer; /* The actual popup (appears on top) */ .popup .popuptext visibility: hidden; width: 160px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 8px 0; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -80px; /* Popup arrow */ .popup .popuptext::after content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; /* Toggle this class when clicking on the popup container (hide and show the popup) */ .popup .show visibility: visible; -webkit-animation: fadeIn 1s; animation: fadeIn 1s /* Add animation (fade in the popup) */ @-webkit-keyframes fadeIn from opacity: 0; to opacity: 1; @keyframes fadeIn from opacity: 0; to opacity:1 ; Step 3) Add JavaScript: Example <script > // When the user clicks on <div >, open the popup function myFunction() var popup = document.getElementById("myPopup"); popup.classList.toggle("show"); </script > Related Pages Tip: Tooltips are similar to popups. Go to our How To Create Tooltips Tutorial to learn about tooltips. Tip: Modals are also similar to popups. Go to our How To Create Modals Tutorial to learn about modals. COLOR PICKER colorpicker HOW TO Tabs Dropdowns Accordions Convert Weights Animated Buttons Side Navigation Top Navigation Modal Boxes Progress Bars Parallax Login Form HTML Includes Google Maps Range Sliders Tooltips Slideshow Filter List Sort List SHARE CERTIFICATES HTML, CSS, JavaScript, PHP, jQuery, Bootstrap and XML. REPORT ERROR PRINT PAGE FORUM ABOUT Top 10 Tutorials HTML Tutorial CSS Tutorial JavaScript Tutorial How To Tutorial W3.CSS Tutorial Bootstrap Tutorial SQL Tutorial PHP Tutorial jQuery Tutorial Angular Tutorial Top 10 References HTML Reference CSS Reference JavaScript Reference W3.CSS Reference Bootstrap Reference SQL Reference PHP Reference HTML Colors jQuery Reference AngularJS Reference Top 10 Examples HTML Examples CSS Examples JavaScript Examples How To Examples W3.CSS Examples Bootstrap Examples PHP Examples jQuery Examples Angular Examples XML Examples Web Certificates HTML Certificate CSS Certificate JavaScript Certificate jQuery Certificate PHP Certificate Bootstrap Certificate XML Certificate W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS. W3Schools.com .popup {
}

w3schools.comTHE WORLD'S LARGEST WEB DEVELOPER SITE Search... HOW TO HowTo Home Menus Icon Bar Menu Icon Accordion Tabs Vertical Tabs Tab Headers Full Page Tabs Top Navigation Responsive Topnav Search Menu Search Bar Fixed Sidebar Side Navigation Fullscreen Navigation Off-Canvas Menu Hover Sidenav Buttons Horizontal Scroll Menu Vertical Menu Bottom Navigation Responsive Bottom Nav Bottom Border Nav Links Right Aligned Menu Links Centered Menu Links Fixed Menu Slide Down Bar on Scroll Hide Navbar on Scroll Sticky Navbar Hover Dropdowns Click Dropdowns Dropdown in Topnav Dropdown in Sidenav Resp Navbar Dropdown Dropup Mega Menu Mobile Menu Pagination Breadcrumbs Button Group Vertical Button Group Sticky Social Bar Responsive Header Images Slideshow Slideshow Gallery Modal Images Lightbox Responsive Image Grid Image Grid Tab Gallery Image Overlay Fade Image Overlay Slide Image Overlay Zoom Image Overlay Title Image Overlay Icon Image Effects Black and White Image Image Text Image Text Blocks Transparent Image Text Full Page Image Form on Image Hero Image Side-by-Side Images Rounded Images Avatar Images Responsive Images Center Images Thumbnails Meet the Team Sticky Image Flip an Image Shake an Image Portfolio Gallery Portfolio with Filtering Image Zoom Image Magnifier Glass Image Comparison Slider Buttons Alert Buttons Outline Buttons Split Buttons Animated Buttons Fading Buttons Button on Image Social Media Buttons Read More Read Less Loading Buttons Download Buttons Icon Buttons Next/prev Buttons More Button in Nav Block Buttons Text Buttons Round Buttons Scroll To Top Button Forms Login Form Signup Form Checkout Form Contact Form Social Login Form Register Form Form with Icons Newsletter Responsive Form Clear Input Field Copy Text to Clipboard Animated Search Search Button Fullscreen Search Custom Checkbox/Radio Custom Select Toggle Switch Check Checkbox Password Validation Toggle Password Visibility Multiple Step Form Autocomplete Filters Filter List Filter Table Filter Elements Filter Dropdown Sort List Sort Table Tables Zebra Striped Table Responsive Tables Comparison Table More Fullscreen Video Modal Boxes Timeline Scroll Indicator Progress Bars Skill Bar Range Sliders Tooltips Popups Collapsible Calendar HTML Includes To Do List Loaders Star Rating User Rating Overlay Effect Contact Chips Cards Profile Card Alerts Notes Labels Circles Coupon Responsive Text Fixed Footer Sticky Element Equal Height Clearfix Snackbar Fullscreen Window Scroll Drawing Sticky Header Pricing Table Parallax Aspect Ratio Toggle Like/Dislike Toggle Hide/Show Toggle Text Toggle Class Add Class Remove Class Active Class Zoom Hover Transition on Hover Arrows Shapes Browser Window Custom Scrollbar Device Look Placeholder Color Vertical Line Animate Icons Countdown Timer Typewriter Coming Soon Page Chat Messages Split Screen Testimonials Quotes Slideshow Closable List Items Typical Device Breakpoints Draggable HTML Element Trigger Button on Enter JS Media Queries Sntax Highlighter JS Animations Get Iframe Elements Website Make a Website Make a Website (W3.CSS) Make a Website (BS3) Make a Website (BS4) Center Website Contact Section Grid 2 Column Layout 3 Column Layout 4 Column Layout Expanding Grid List Grid View Mixed Column Layout Blog Layout Google Google Maps Google Maps BW Google Translate Google Charts Google Fonts Converters Convert Weight Convert Temperature Convert Length Convert Speed How TO - Popup Learn how to create popups with CSS and JavaScript. How To Create Popups Step 1) Add HTML: Example <div class="popup" onclick="myFunction()" > Click me! <span class="popuptext" id="myPopup" > Popup text...</span > </div > Step 2) Add CSS: Example /* Popup container */ .popup position: relative; display: inline-block; cursor: pointer; /* The actual popup (appears on top) */ .popup .popuptext visibility: hidden; width: 160px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 8px 0; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -80px; /* Popup arrow */ .popup .popuptext::after content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; /* Toggle this class when clicking on the popup container (hide and show the popup) */ .popup .show visibility: visible; -webkit-animation: fadeIn 1s; animation: fadeIn 1s /* Add animation (fade in the popup) */ @-webkit-keyframes fadeIn from opacity: 0; to opacity: 1; @keyframes fadeIn from opacity: 0; to opacity:1 ; Step 3) Add JavaScript: Example <script > // When the user clicks on <div >, open the popup function myFunction() var popup = document.getElementById("myPopup"); popup.classList.toggle("show"); </script > Related Pages Tip: Tooltips are similar to popups. Go to our How To Create Tooltips Tutorial to learn about tooltips. Tip: Modals are also similar to popups. Go to our How To Create Modals Tutorial to learn about modals. COLOR PICKER colorpicker HOW TO Tabs Dropdowns Accordions Convert Weights Animated Buttons Side Navigation Top Navigation Modal Boxes Progress Bars Parallax Login Form HTML Includes Google Maps Range Sliders Tooltips Slideshow Filter List Sort List SHARE CERTIFICATES HTML, CSS, JavaScript, PHP, jQuery, Bootstrap and XML. REPORT ERROR PRINT PAGE FORUM ABOUT Top 10 Tutorials HTML Tutorial CSS Tutorial JavaScript Tutorial How To Tutorial W3.CSS Tutorial Bootstrap Tutorial SQL Tutorial PHP Tutorial jQuery Tutorial Angular Tutorial Top 10 References HTML Reference CSS Reference JavaScript Reference W3.CSS Reference Bootstrap Reference SQL Reference PHP Reference HTML Colors jQuery Reference AngularJS Reference Top 10 Examples HTML Examples CSS Examples JavaScript Examples How To Examples W3.CSS Examples Bootstrap Examples PHP Examples jQuery Examples Angular Examples XML Examples Web Certificates HTML Certificate CSS Certificate JavaScript Certificate jQuery Certificate PHP Certificate Bootstrap Certificate XML Certificate W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS. W3Schools.com .popup {
}

.popup {
  position:relative;
  display:inline-block;
  cursor:pointer;
}

.popup .popuptext {
  visibility:hidden;
  width:160px;
  background-color:#555;
  color:#fff;
  text-align:center;
  border-radius:6px;
  padding:8px 0;
  position:absolute;
  z-index:1;
  bottom:125%;
  left:50%;
  margin-left:-80px;
}

.popup .popuptext::after {
  content:"";
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style:solid;
  border-color:#555 transparent transparent transparent;
}

.popup .show {
  visibility:visible;
  -webkit-animation:fadeIn 1s;
  animation:fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.popup {
  position:relative;
  display:inline-block;
  cursor:pointer;
}

.popup .popuptext {
  visibility:hidden;
  width:160px;
  background-color:#555;
  color:#fff;
  text-align:center;
  border-radius:6px;
  padding:8px 0;
  position:absolute;
  z-index:1;
  bottom:125%;
  left:50%;
  margin-left:-80px;
}

.popup .popuptext::after {
  content:"";
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style:solid;
  border-color:#555 transparent transparent transparent;
}

.popup .show {
  visibility:visible;
  -webkit-animation:fadeIn 1s;
  animation:fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.popup {
  position:relative;
  display:inline-block;
  cursor:pointer;
}

.popup .popuptext {
  visibility:hidden;
  width:160px;
  background-color:#555;
  color:#fff;
  text-align:center;
  border-radius:6px;
  padding:8px 0;
  position:absolute;
  z-index:1;
  bottom:125%;
  left:50%;
  margin-left:-80px;
}

.popup .popuptext::after {
  content:"";
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style:solid;
  border-color:#555 transparent transparent transparent;
}

.popup .show {
  visibility:visible;
  -webkit-animation:fadeIn 1s;
  animation:fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

//* Popup container */ .popup position: relative; display: inline-block; cursor: pointer; /* The actual popup (appears on top) */ .popup .popuptext visibility: hidden; width: 160px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 8px 0; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -80px; /* Popup arrow */ .popup .popuptext::after content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; /* Toggle this class when clicking on the popup container (hide and show the popup) */ .popup .show visibility: visible; -webkit-animation: fadeIn 1s; animation: fadeIn 1s /* Add animation (fade in the popup) */ @-webkit-keyframes fadeIn from opacity: 0; to opacity: 1; @keyframes fadeIn from opacity: 0; to opacity:1 ; * Popup container */ .popup position: relative; display: inline-block; cursor: pointer; /* The actual popup (appears on top) */ .popup .popuptext visibility: hidden; width: 160px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 8px 0; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -80px; /* Popup arrow */ .popup .popuptext::after content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; /* Toggle this class when clicking on the popup container (hide and show the popup) */ .popup .show visibility: visible; -webkit-animation: fadeIn 1s; animation: fadeIn 1s /* Add animation (fade in the popup) */ @-webkit-keyframes fadeIn from opacity: 0; to opacity: 1; @keyframes fadeIn from opacity: 0; to opacity:1 ; .popup {
}

.popup {
  position:relative;
  display:inline-block;
  cursor:pointer;
}

.popup .popuptext {
  visibility:hidden;
  width:160px;
  background-color:#555;
  color:#fff;
  text-align:center;
  border-radius:6px;
  padding:8px 0;
  position:absolute;
  z-index:1;
  bottom:125%;
  left:50%;
  margin-left:-80px;
}

.popup .popuptext::after {
  content:"";
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style:solid;
  border-color:#555 transparent transparent transparent;
}

.popup .show {
  visibility:visible;
  -webkit-animation:fadeIn 1s;
  animation:fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.td {
  overflow:auto;
  overflow:auto;
  overflow:auto;
}

.td {
  overflow:auto;
  overflow:auto;
  overflow:auto;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  overflow:auto;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.td {
  max-width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#AddCitationRow {
}

#AddCitationRow {
}

.form-control-sm.float-right {
  border-style:none;
}

.form-control-sm.float-right {
  border-style:none;
}

.form-control-sm.float-right {
}

.form-control-sm.float-right {
}

.form-control-sm.float-right {
}

.form-control-sm.float-right {
  border-style:none;
}

.form-control-sm.float-right {
  border-style:none;
}

.form-control-sm.float-right {
  border-style:none;
}

.table-responsive.d-flex.flex-grow-0.flex-shrink-0 {
}

.charge {
}

.charge {
}

