.console {
  background-color: rgba(255,86,60,0.3);
  width: 500px;
  min-height: 30px;
  color: white;
  position: absolute;
  top: 5px;
  left: 200px;
}
html {
  overflow: hidden;
}
@font-face {
  font-family: pcdown;
  src: url(pdown.ttf);
}

.sans {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
.green {
  color: rgb(0, 125, 0);
  font-weight: 700;
  margin-right: 6px;
}
.red {
  color: rgb(255, 0, 0);
}
#pre {
  font-size: 0.8rem;
  margin-right: 5px;
}
.full-screen {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
}
.main-container {
  width: 100%;
  height:100%;
  border-radius: 10px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: none;
  z-index: 9999999;
}
.body {
  width: 100%;
  display: none;
}

.centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}

.centered2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  flex-grow: 1;
  align-items: center;
  text-align: center;
  width: 10%;
  opacity: 0.65;
  background: #4c4c4c;
  background-image: linear-gradient(to bottom, #4c4c4c, #131313);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
}
.button:focus, .submit {outline:0;}

.number-display {
  flex-grow: 0.4;
  align-items: center;
  text-align: center;
  width: 100%;
  background: #017ebc;
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  border-radius: 0px;
  color: #777;
}
.news-view {
  width: 100%;
}
.btnGreen {
  background: rgb(0, 125, 0);
}
.btnRed {
  background: rgb(255, 0, 0);
}
.number-display p {
  margin: 0;
  padding: 0;
  vertical-align:middle;
}
input[type=text], input[type=number], select, textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.80;
  resize: vertical;
}
input[type=submit], .submit {
  text-align: center;
  width: 35%;
  background: #017ebc;
  opacity: 0.65;
  background-image: linear-gradient(to bottom, #017ebc, #005285);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.form {
  max-width: 74%;
  margin-left: auto;
  margin-right: auto;
}
.news {
  flex-grow: 0.4;
  align-items: center;
  text-align: center;
  width: 97%;
  
  color: black;
  opacity: 0.55;
  font-size: 0.7em;
  padding: 3% 1% 1% 3%;
  text-decoration: none;
  background: rgba(255, 255, 255, .9);
  overflow-y: auto;  
  overflow-x: hidden; 
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

.wheaders {
  align-items: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  height: 6%;
  color: #777;
  font-size: 1.2em;
}

.table-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;  
  overflow-x: hidden;
}

.tblBtn {
  padding: 1em;
}

.location {
  text-transform: uppercase;
}

#news-notes {
  width: 100%;
}

.news-view {
  width:95%;
  margin-left:3%;
}
/* Media Queries */
@media (min-width: 576px){ /* Shouldn't have to mess with */
  .main-container {
    max-width: 540px;
  }
}
@media (min-width: 768px){ /****/
  .main-container {
    max-width: 720px;
  }
  .body {
    margin-top:6%;
    padding-top:5px;
  }
  /* HOME CONTAINER */
  .home {
    margin-top:7%;
  }
  .home-menu {
    width:74%;
    height:65%;
    margin-left:auto;
    margin-right:auto;
  }
  .home-menu a {
    margin-left:2%;
    height:50px;
    font-size:1em;
  }
  .home-close {
    width:74%;
    margin-left:auto;
    margin-right:auto;
  }
  .home-close a {
    height:35px;
  }
  /* news CONTAINER */
  .news-container {
    margin-top:8%;
  }
  .news-input {
    box-sizing:border-box;
    margin-bottom:3%;
    height:5%;
    font-size:1em;
  }
  .news-buttons {
    margin-top:5%;
    height:35px;
  }
  .news-buttons a {
    margin-left:2%;
  }
  .news {
    height: 50%;
  }
  /* news-CONTAINER */
  .news-buttons {
    margin-top:5%;
  }
  .news-buttons a {
    margin-left:2%;
  }
  .news-notes {
    width:100% !important;
    margin-left:1%;
  }
  .news-body {
  }
  .news-body div, .news-body textarea {
    margin-left:15%;
    margin-right:12%;
  }
}

@media (min-width: 996px){ /****/
  .main-container {
    max-width: 990px;
  }
  .news-container {
    padding-bottom:60px;
  }

}

@media (min-width: 1500px){
  .main-container {
    max-width: 1470px;
  }
  /* HOME CONTAINER */
  .home-menu a {
    height:90px;
    font-size:2em;
  }
  .home-close a {
    height:65px;
    font-size:2em;
  }
  /* news CONTAINER */
  .news-container {
    height: 40%;
    font-size:1em;
  }
  .centered2 {
    height: 50px;
  }
}

/*

.home {
  display:none;
}
.news-container {
  display:none;
}
.news-container {
  display:none;
}
.newnews-container {
  display:none;
}
.arrest-container {
  
}
.newMDT-container {
  display:none;
}
.arrest-view-container {
  display:none;
}*/

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}