- var nums = 3; // should match length of combo array in the JavaScript

.container
  .lock
    .shackle
      .top
        .inner
      .left
        .dentL
        .dentR
      .right
    .arrow
  .dial
    - for (var i = 0;i < 40;++i) {
        .tick
    - }
    
div.combo
  - for (var i = 1; i <= nums; ++i) {
    span(class="num" + i)
    =" "
  - }
    
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.5/TweenMax.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.5/utils/Draggable.min.js")