<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Jake Anderson">
		<title>Samsung Galaxy S10 for RivalryRP</title>
		<link href="./css/normalize.css" rel="stylesheet">
		<link href="./css/style.css" rel="stylesheet">
		<link href="./css/simplebar.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">

		<script type="application/javascript" src="./js/jquery.js"></script>
		<script type="application/javascript" src="./js/angular.js"></script>
		<script type="application/javascript" src="./js/nicescroll.js"></script>
		<script type="application/javascript" src="./js/simplebar.js"></script>
		<script type="application/javascript" src="./js/moment.js"></script>
		<script type="application/javascript" src="./js/app.js"></script>
	</head>
	<body ng-app="app">
		<div class="app-wrapper" ng-controller="ctrl">
			
			<!-- ignore this --><!--
			<div class="phone-actions" style="position: absolute; bottom: 10px; right:0; font-size: 10px;">
				<button ng-click="toggleView('lifeAlert')" style="background-color: white; border: none;padding:8px;" >toggle life alert</button>
				<button ng-click="toggleView('calling', 'your maker')"  style="background-color: white; border: none;padding:8px;">toggle incomming call</button>
				<button ng-click="toggleView('loading')"  style="background-color: white; border: none;padding:8px;">loading</button>
				<button ng-click="togglePhone(!phoneToggle)"  style="background-color: white; border: none;padding:8px;">toggle phone</button>
			</div>
			--><!-- ignore this -->
		
			<!-- Phone Container -->
			<div class="phone-wrapper" ng-class="screenSize" ng-show="phoneToggle">
				<!-- notch and cell icons -->
				<div class="screen">
					<div class="notch"></div>
					<div class="phone-stats">
						<i class="material-icons">network_cell</i>
						<i class="material-icons">wifi</i>
						<i class="material-icons">battery_full</i>
					</div>	

					<div class="error-wrapper" ng-class="{ 'open': error, '': !error }">
						<p>{{errorMessage}}</p>
					</div>

					<button class="twitter-btn" ng-click="toggleView('twitter')"></button>
					<button class="yellowpage-btn" ng-click="toggleView('yellowpages')"></button>
					<!-- call container -->
					<div class="call-wrapper" ng-class="{ 'open': callToggle, '': !callToggle }">
						<i class="material-icons add-contact" ng-click="toggleView('addContact')">
							add_circle
						</i>
						<h1>
							<i class="material-icons" ng-click="toggleView('call')">
								arrow_back_ios
							</i>
							<span>Phone<span>
						</h1>
						<input class="number-input" type="tel" placeholder="enter number" ng-model="callInput" maxlength="10" required/>

						<div class="dialer">
							<button class="dialer-btn" ng-click="addDialer('1')">1</button>
							<button class="dialer-btn" ng-click="addDialer('2')">2</button>
							<button class="dialer-btn" ng-click="addDialer('3')">3</button>
							<button class="dialer-btn" ng-click="addDialer('4')">4</button>
							<button class="dialer-btn" ng-click="addDialer('5')">5</button>
							<button class="dialer-btn" ng-click="addDialer('6')">6</button>
							<button class="dialer-btn" ng-click="addDialer('7')">7</button>
							<button class="dialer-btn" ng-click="addDialer('8')">8</button>
							<button class="dialer-btn" ng-click="addDialer('9')">9</button>
							<button class="dialer-btn" ng-click="addDialer('0')">0</button>
						</div>

						<button ng-click="call('start', callInput)">Call</button>	
					</div>
						
					<!-- contacts container -->
					<div class="contacts-wrapper" ng-class="{ 'open': contactsToggle, '': !contactsToggle }">
						<i class="material-icons add-contact" ng-click="toggleView('addContact')">
							add_circle
						</i>
						<h1>
							<i class="material-icons" ng-click="toggleView('contacts')">
								arrow_back_ios
							</i>
							<span>Contacts<span>
						</h1>
						<h2>{{contacts.length}} contacts</h2>
						<ul>
							<li ng-repeat="contact in contacts | orderBy:['first_name','last_name']">
								<p class="name">{{contact.first_name}} {{contact.last_name}}</p>
								<p class="number">{{contact.contact_number}}</p>
								<div class="contact-actions">
									<i class="material-icons" ng-show="callStatus == ''" ng-click="call('start', contact.contact_number, contact.first_name + ' ' + contact.last_name)">
										call
									</i>
									<i class="material-icons" ng-click="viewMessages(contact.contact_number, contact.first_name + ' ' + contact.last_name)">
										message
									</i>
									<i class="material-icons" ng-click="toggleView('confirmation', contact.id)">
										delete_forever
									</i>
								</div>
							</li>
						</ul>
					</div>
							
					<!-- messages container -->
					<div class="messages-wrapper" ng-class="{ 'open': messagesToggle, '': !messagesToggle }">
						<i class="material-icons add-contact" ng-click="toggleView('newMessage')">
							add_circle
						</i>
						<h1>
							<i class="material-icons" ng-click="toggleView('messages')">
								arrow_back_ios
							</i>
							<span>Messages<span>							
						</h1>			
					
						<h2>{{messages.length}} messages</h2>

						<ul>
							<li ng-repeat="message in messages | orderBy:['contact_name','receiver_number']">
								<p class="name">{{message.contact_name || message.receiver_number}}</p>
								<p class="msg" ngIf="contact.recent_message > 0" style="min-height: 16px; font-size: 14px;">{{message.message}}</p>
								<div class="contact-actions">
									<i class="material-icons" ng-click="viewMessages(message.receiver_number, message.contact_name)">
										message
									</i>
								</div>
							</li>
						</ul>
					</div>
						
					<!-- services container -->
					<div class="services-wrapper" ng-class="{ 'open': servicesToggle, '': !servicesToggle }">
						<h1>
							<i class="material-icons" ng-click="toggleView('services')">
								arrow_back_ios
							</i>
							<span>Services<span>
						</h1>					
						
						<ul>
							<li>
								<button ng-click="toggleView('serviceMessage', 'Taxi')">
									<i class="material-icons">
										local_taxi
									</i>
									<p>Taxi</p>
								</button>
							</li>
							<li>
								<button ng-click="toggleView('serviceMessage', 'Mechanic')">
									<i class="material-icons">
										build
									</i>
									<p>Mechanic</p>
								</button>
							</li>
							<li>
								<button ng-click="toggleView('serviceMessage', 'EMT')">
									<i class="material-icons">
										local_hospital
									</i>
									<p>EMT</p>
								</button>
							</li>
							<li>
								<button ng-click="toggleView('serviceMessage', 'Police')">
									<i class="material-icons">
										security
									</i>
									<p>Police</p>
								</button>
							</li>
							<li>
								<button class="vpn-btn" ng-click="toggleView('serviceMessage', 'Other')">
									<i class="material-icons">
										vpn_key
									</i>
								</button>
							</li>
						</ul>						
					</div>
						
					<div class="service-message-wrapper" ng-class="{ 'open': serviceMessageToggle, '': !serviceMessageToggle }">
						<h1>
							<i class="material-icons" ng-click="toggleView('serviceMessage'); toggleView('services')">
								arrow_back_ios
							</i>
							<span>{{serviceName}}<span>
						</h1>				
						
						<div class="service" ng-switch="serviceName">
							<div ng-switch-when="Taxi">
								<ul>
									<li>
										<input type="radio" id="radio-one" name="switch" value="1 passenger" ng-model="taxiOption" checked>
										<label for="radio-one">1 person</label>											
									</li>
									<li>
										<input type="radio" id="radio-two" name="switch" value="2 passengers" ng-model="taxiOption">
										<label for="radio-two">2 person</label>											
									</li>
									<li>
										<input type="radio" id="radio-three" name="switch" value="3 passengers" ng-model="taxiOption">
										<label for="radio-three">3+ person</label>											
									</li>
								</ul>
								<button style="bottom: 30px; border-bottom: white;" ng-click="requestService('Taxi', taxiOption)">Send Request</button>
								<button style="background-color: gray; border-color: gray;" ng-click="cancelService('Taxi')">Cancel</button>
							</div>

							<div ng-switch-when="Mechanic">
								<ul>
									<li>
										<input type="radio" id="radio-one" name="switch" value="Car" ng-model="mechOption" checked>
										<label for="radio-one">Car</label>											
									</li>
									<li>
										<input type="radio" id="radio-two" name="switch" value="Truck" ng-model="mechOption">
										<label for="radio-two">Truck</label>											
									</li>
									<li>
										<input type="radio" id="radio-three" name="switch" value="Motorbike" ng-model="mechOption">
										<label for="radio-three">Motorcycle</label>											
									</li>
								</ul>
								<button style="bottom: 30px; border-bottom: white;" ng-click="requestService('Mechanic', mechOption)">Send Request</button>
								<button style="background-color: gray; border-color: gray;" ng-click="cancelService('Mechanic')">Cancel</button>
							</div>

							<div ng-switch-when="EMT">
								<textarea placeholder="whats your emergency" ng-model="emtMessage"></textarea>
								<button style="bottom: 30px; border-bottom: white;" ng-click="requestService('EMT', emtMessage)">Send Request</button>
								<button style="background-color: gray; border-color: gray;" ng-click="cancelService('EMT')">Cancel</button>
							</div>

							<div ng-switch-when="Police">
								<textarea placeholder="whats your emergency" ng-model="policeMessage"></textarea>
								<button style="bottom: 30px; border-bottom: white;" ng-click="requestService('Police', policeMessage)">Send Request</button>
								<button style="background-color: gray; border-color: gray;" ng-click="cancelService('Police')">Cancel</button>
							</div>

							<div ng-switch-when="Other">
								<ul>
									<li>
										<input type="radio" id="radio-one" name="switch" value="Weed" ng-model="otherOption" checked>
										<label for="radio-one">Cannabis</label>							
									</li>
									<li>
										<input type="radio" id="radio-two" name="switch" value="Weapons" ng-model="otherOption" checked>
										<label for="radio-two">Public Weapons Dealer</label>							
									</li>
									<!-- <li>
										<input type="radio" id="radio-three" name="switch" value="Jewelry" ng-model="otherOption" checked>
										<label for="radio-two">Jewelry Auction</label>							
									</li> -->
								</ul>		
								<button style="bottom: 30px; border-bottom: white;" ng-click="requestTrader(otherOption)">Order Trade</button>
								<button style="background-color: gray; border-color: gray;" ng-click="cancelTrader(otherOption)">Cancel</button>
							</div>
							
							<div ng-switch-default>
								
							</div>
						</div>						
					</div>
						
					<!-- settings container -->
					<div class="settings-wrapper" ng-class="{ 'open': settingsToggle, '': !settingsToggle }">
						<h1>
							<i class="material-icons" ng-click="toggleView('settings')">
								arrow_back_ios
							</i>
							<span>Settings<span>
						</h1>		
						
						<div class="settings">
							<ul>
								<li>
									<p>Number: {{myNumber}}</p>
								</li>
								<!--
								<li>
									<p>Notification Settings</p>
									<ul>
										<li>
											<p>Twitter</p>
											<div class="toggleWrapper">
												<input type="checkbox" name="toggle1" class="mobileToggle" id="toggle1" checked>
												<label for="toggle1"></label>
											</div>
										</li>
									</ul>
								</li>
								-->
								<li>
									<p>Phone Size</p>
									
									<div class="switch-phone-size">
										<ul>
											<li>
												<input type="radio" id="radio-one" name="switch" value="extra-large" ng-model="screenSize"/>
												<label for="radio-one">Extra large</label>
											</li>
											<li>
												<input type="radio" id="radio-two" name="switch" value="large" ng-model="screenSize"/>
												<label for="radio-two">Large</label>
											</li>
											<li>
												<input type="radio" id="radio-three" name="switch" value="medium" ng-model="screenSize" checked/>
												<label for="radio-three">Medium</label>
											</li>
											<li>
												<input type="radio" id="radio-four" name="switch" value="small" ng-model="screenSize"/>
												<label for="radio-four">Small</label>
											</li>
										</ul>
									</div>									
								</li>
							</ul>
							<button ng-click="saveSettings()">Save</button>
						</div>						
					</div>
							
					<!-- footer navigation actions -->
					<div class="footer-bar">
						<button class="footer-btn phone" ng-click="toggleView('call')">
							<i class="material-icons">
								phone
							</i>
						</button>
						<button class="footer-btn contacts" ng-click="toggleView('contacts')">
							<i class="material-icons">
								contacts
							</i>
						</button>
						<button class="footer-btn message" ng-click="toggleView('messages')">
							<i class="material-icons">
								message
							</i>
						</button>
						<button class="footer-btn services" ng-click="toggleView('services')">
							<i class="material-icons">
								location_on
							</i>
						</button>
						<button class="footer-btn other-services" ng-click="toggleView('settings')">
							<i class="material-icons">
								settings
							</i>
						</button>
					</div>
							
					<!-- life alert container -->
					<div class="life-alert-wrapper" ng-class="{ 'open': lifeAlertToggle, '': !lifeAlertToggle }">
						<h1>LIFE ALERT!</h1>
						<button ng-click="requestAmbulance()">
							<p>Request an Ambulance</p>
							<strong>(You will remember everything)</strong>
						</button>
						<button ng-click="requestRespawn()">
							<p>Wake up at Hospital </p>
							<strong> (You forget what happened) </strong>
						</button>
					
						<p class="info-text">
							Choosing "Wake up at Hospital" option will result in all cash (clean/dirty), items and weapons on your person to be lost. This only happens when there is a Paramedic on duty. The government will not reimburse any items/cash lost.
						</p>
					</div>
							
					<!-- calling container -->
					<div class="phone-call-active-wrapper" ng-class="{ 'open': phoneCallActiveToggle, '': !phoneCallActiveToggle }">
						<i class="material-icons back-from-call" ng-click="toggleView('calling')">
							arrow_back_ios
						</i>
						<i class="material-icons">
							phone_in_talk
						</i>
						<p>{{callingName}}</p>
						<p>{{callStatus}}</p>
						<button class="answer-btn" ng-show="isAcceptVisible" ng-click="call('answer')">Answer</button>
						<button class="hangup-btn" ng-click="call('end')">Hangup</button>
					</div>
							
					<!-- text message container -->
					<div class="text-convo-wrapper" ng-class="{ 'open': textMessageToggle, '': !textMessageToggle }">
						<header>
							<h1>
								<i class="material-icons" ng-click="toggleView('textMessage')">
									arrow_back_ios
								</i>
								<div class="name-wrap" ng-show="convoName != ''">
									<span>{{ convoName }}</span>
									<span ng-show="convoName != ''">({{ convoNumber }})</span>
								</div>
								<span ng-show="convoName == ''">{{ convoNumber }}</span>
							</h1>
						</header>

						<div class="conversation-wrapper">
							<div ng-repeat="message in conversation">
								<div ng-class="{ 'send': myNumber === message.creator, 'recieve': myNumber != message.creator }">
									<div class="text-wrap">
										<p class="number">{{formatMessageTime(message.timestamp)}}</p>
										<p>{{message.message}}</p>
									</div>
								</div>
							</div>	
						</div>

						<div class="send-message-wrapper">
							<input placeholder="Enter Message Here..." maxlength="300" ng-model="message"/>
							
							<button ng-click="addMessage(message)">
								<i class="material-icons">
									send
								</i>
							</button>
						</div>
					</div>
					
					<!-- new convo message container -->
					<div class="new-convo-wrapper" ng-class="{ 'open': newMessageToggle, '': !newMessageToggle }">
						<header>
							<h1>
								<i class="material-icons" ng-click="toggleView('newMessage')">
									arrow_back_ios
								</i>
							</h1>
						</header>

						<div class="send-message-wrapper">
							<input type="tel" placeholder="Enter Number" maxlength="10" ng-model="phone_number"/>

							<textarea placeholder="Enter Message Here..." maxlength="300" ng-model="message"></textarea>
							<button ng-click="newMessage(phone_number, message)">
								<i class="material-icons">
									send
								</i>
							</button>
						</div>
					</div>

					<!-- twitter container -->
					<div class="twitter-wrapper" ng-class="{ 'open': twitterToggle, '': !twitterToggle }">
						<h1>
							<i class="material-icons" ng-click="toggleView('twitter')">
								arrow_back_ios
							</i> 
						</h1>		
						
						<i class="material-icons send-tweet" ng-click="toggleView('sendTweet')">
							send
						</i> 

						<div class="tweets">
							<div ng-repeat="twet in twittermessages">						
								<div class="tweet">
									<p class="name">{{twet.Name}}</p>
									<p>{{twet.Message}}</p>
								</div>
							</div>
						</div>
					</div>

					<!-- send tweet container -->
					<div class="send-tweet-wrapper" ng-class="{ 'open': sendTweetToggle, '': !sendTweetToggle }">
						<h1>
							<i class="material-icons" ng-click="toggleView('sendTweet')">
								arrow_back_ios
							</i> 
						</h1>		

						<textarea placeholder="Whats happening?" maxlength="300" ng-model="message"></textarea>

						<button class="tweet-btn" ng-click="sendTweet(message)">Tweet</button>
					</div>

					<!-- yellowpage container -->
					<div class="yellowpage-wrapper" ng-class="{ 'open': yellowPageToggle, '': !yellowPageToggle }">
							<h1>Yellow Pages</h1>
							<div class="header">
								<i class="material-icons ad-option" ng-click="toggleView('yellowpages')" style="width:34px;text-align:left">
									arrow_back_ios
								</i>
								<i class="material-icons ad-option" ng-click="toggleView('sendAdvertisement')" style="margin-left:94px">
									send
								</i>
								<i class="material-icons ad-option" ng-click="sendAdvertisement('')">
									delete
								</i>
							</div>
							
							<div class="ads">
								<div ng-repeat="somead in advertisements">						
									<div class="ad">
										<!-- <p class="title" style="font-weight: bold">{{somead.title}}</p> -->
										<p style="font-weight:bold; font-size:14px; user-select:none">{{somead.text}}</p>
										<div class="info" style="height:14px; margin:4px; margin-top:0px">
											<p class="info" style="font-size:12px; float:left; user-select:none">{{(somead.name)}}</p>
											<p class="info" style="font-size:12px; float:right">{{(somead.number)}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<!-- send advertisement container -->
						<div class="send-advertisement-wrapper" ng-class="{ 'open': sendAdvertisementToggle, '': !sendAdvertisementToggle }">
							<h1>Yellow Pages</h1>
							<div class="header">
								<i class="material-icons ad-option" ng-click="toggleView('sendAdvertisement')" style="width:34px">
									arrow_back_ios
								</i>
							</div>
	
							<form ng-submit="sendAdvertisement(message)">
								<!-- <input type="text" placeholder="Advertisement Title" ng-model="title" required/> -->
								<textarea placeholder="What are you advertising?" maxlength="255" ng-model="message" style="resize:none; padding:10px; height: 400px"></textarea>
								<button type="submit" class="save">Advertise</button>
							</form>	
	
						</div>

					<!-- text message container -->
					<div class="add-contact-wrapper" ng-class="{ 'open': addContactToggle, '': !addContactToggle }">
						<h1>
							<i class="material-icons" ng-click="toggleView('addContact')">
								arrow_back_ios
							</i>
							<span>Add Contact<span>
						</h1>
						<form ng-submit="addContact(first_name, last_name, phone_number)">
							<input type="text" placeholder="First Name" ng-model="first_name" pattern="[a-zA-Z0-9]+" required/>
							<input type="text" placeholder="Last Name" ng-model="last_name" pattern="[a-zA-Z0-9]+" required/>
							<input type="tel" placeholder="Phone Number" ng-model="phone_number" maxlength="10" required/>
							<button type="submit" class="save">Save Contact</button>
						</form>				
					</div>

					<!-- contact removal confirmation -->
					<div class="confirmation-wrapper" ng-class="{ 'open': confirmationToggle, '': !confirmationToggle }">
						<h1>Are You Sure?</h1>
						<div class="action-wrapper">
							<button ng-click="toggleView('confirmation', null)">No</button>
							<button ng-click="removeContact(contactId)">Yes</button>
						</div>
					</div>

					<!-- loading container -->
					<div class="loading-wrapper" ng-class="{ 'open': loadingToggle, '': !loadingToggle }">
						<div class="loading-spinner">
							<div class="hex"></div>
							<div class="hex"></div>
							<div class="hex"></div>
							<div class="hex"></div>
							<div class="hex"></div>
							<div class="hex"></div>
							<div class="hex"></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>